header {
    width: 95%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    align-items: center;
    animation: 1s fadein 0.5s forwards;
    
    padding: 20px auto;
}

ul,
nav {
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover{
    opacity: 1;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



header h2 {
    margin-left: 5%;
  }
  
  header nav {
      display: flex;
  }
  
  header nav li{
      padding: 0 15px;
  }
  
  
  .Tagline {
    color: #ffff;
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  
  .Tagline h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .Tagline h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10%;
    display: inline-block;
  }
  
  .button {
    color: white;
    background-color: #292c2f;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
  }
  
  .button:hover {
    color: black;
    background-color: white;
  }
  
  .buttons-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -11%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 5rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #111111;
    background-clip: padding-box;
    border: 1px solid #111111;
    border-radius: .25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
}
.bg-dark{
    background-color: #111111!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 25%;
}
a.toggle{
text-decoration: none;
color: initial;
}
a.toggle:hover{
    cursor: pointer;
}
a.toggle:after{
    text-decoration: none;
}

.page-footer{
    background-color: #111111;
    padding: 0%;
    margin: 0%;
}
p.footerText {
    margin-top: 0;
    margin-bottom: 0rem;
    padding: 0px;
}
a.footerText{
    margin-top: 0;
    margin-bottom: 0rem;
    padding: 0px;
    font-family: Montserrat;
    color: #898989;
    text-decoration: none;   
}
.pb-3, .py-3 {
    padding-bottom: 0rem!important;
    padding-top: 0rem!important;
}
.joinForm{
    width:90%;
    height:auto;
    margin:auto;
    position: absolute;
    top:10%;
    left:5%;
}
.viewBtn
{
    background-color: unset;
    border: none;
    color: #ffc312;
    padding: 0px;
    font-weight: 500;
    text-align: right
}
.viewBtn:focus, .viewBtn:hover
{
    cursor: pointer;
    font-weight: bolder;
}
.downloadFile:hover
{
    text-decoration: none;
}
